/* ------------------------
# Header
------------------------*/
header.xg-header {
  color: #fff;
  background: $s_color;
  padding: 40px 30px;
  position: fixed;
  left: 0;
  overflow-y: auto;
  height: 100vh;
  min-height: 100vh;
  top: 0;
  width: 180px;
  z-index: 9;
  @include transition(all, .5s);

  @media #{$max575} {
    left: -230px;
    width: 210px;
  }

  .xg-site-header-top {
    margin-bottom: 30px;
  }

  /* === Vertical Menu === */
  .xg-vertical-menu {
    list-style: none;
    margin-bottom: 30px;

    li {
      padding: 9px 0;
      position: relative;
      list-style: none;

      a {
        color: #fff;
        font-weight: 500;
        width: 100%;
        text-decoration: none;
        position: relative;

        &.nav-link {
          display: inline-block;
          padding: 0 0 0 30px;
        }

        &:hover,
        &.active{
          color: $p_color;

          i{
            color:$p_color;
          }
        }
      }
      &:hover,
      &.active{
        a{
          color: $p_color;

          i{
            color:$p_color;
          }
        }
      }
      i{
        position: absolute;
        top:50%;
        left: 0;
        @include translateY(-50%);
        color: #fff;
        font-size: 18px;
      }
    }

  }

  .xg-footer {
    margin-top: auto;
  }
  .copyright {
    color: #fff;
    font-size: 14px;
  }

  &::-webkit-scrollbar {
    width: 5px;
    margin-right: 5px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    background: #F1F1F1;
  }
  &::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    @include transition();
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #A8A8A8;
  }
}

.xg-menu-opened header.xg-header{
  left: 0;
}


.xg-nav-toggle-btn {
  position: fixed;
  top: 0;
  right: 0;
  background: $p_color;
  border: none;
  padding: 5px 15px;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  z-index: 99999;
  display: none;

  @media #{$max575} {
    display: block;
  }

  .xg-nav-toggle-title {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    margin-right: 8px;
    color: #fff;
    font-weight: 600;
  }

  .xg-nav-toggle {
    width: 29px;
    height: 29px;
    display: inline-flex;
    vertical-align: middle;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;

    &.xg-nav-toggle-sm {
      transform: scale(.7);
      margin-right: -5px;
    }

    .bar {
      width: 29px;
      height: 3px;
      margin-bottom: 5px;
      background-color: #fff;
      display: inline-block;

      &:last-child {
        margin-bottom: 0
      }
    }

    &:hover .bar-2 {
      width: 29px
    }
  }

  &:hover {
    color: #fff;

    .xg-nav-toggle .bar{
      background-color: #fff
    }
  }

  &:focus {
    outline: none;
  }
}

.xg-menu-opened .xg-nav-toggle-btn {
  color: #fff
}

.xg-menu-opened .xg-nav-toggle-btn .bar {
  background-color: #fff
}

.xg-menu-opened .bar-1 {
  animation: bar-1-open .85s ease-out forwards
}

.xg-menu-opened .bar-2 {
  animation: bar-2-open .85s linear forwards;
  width: 29px;
  margin-left: 0
}

.xg-menu-opened .bar-3 {
  animation: bar-3-open .85s linear forwards
}

@-webkit-keyframes bar-1-open {
  0% {
    width: 29px
  }
  30% {
    width: 3px;
    transform: translate(14px, 0px)
  }
  65% {
    width: 3px;
    transform: translate(14px, -29px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1)
  }
  100% {
    width: 2px;
    transform: translate(9px, 17px)
  }
}

@keyframes bar-1-open {
  0% {
    width: 29px
  }
  30% {
    width: 3px;
    transform: translate(14px, 0px)
  }
  65% {
    width: 3px;
    transform: translate(14px, -29px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1)
  }
  100% {
    width: 2px;
    transform: translate(9px, 17px)
  }
}

@-webkit-keyframes bar-2-open {
  65% {
    width: 29px;
    transform: translate(0px, 0px) rotate(0deg)
  }
  100% {
    width: 29px;
    transform: translate(0px, 0px) rotate(45deg)
  }
}

@keyframes bar-2-open {
  65% {
    width: 29px;
    transform: translate(0px, 0px) rotate(0deg)
  }
  100% {
    width: 29px;
    transform: translate(0px, 0px) rotate(45deg)
  }
}

@-webkit-keyframes bar-3-open {
  65% {
    transform: translate(0px, 0px) rotate(0deg)
  }
  100% {
    transform: translate(0px, -8px) rotate(-45deg)
  }
}

@keyframes bar-3-open {
  65% {
    transform: translate(0px, 0px) rotate(0deg)
  }
  100% {
    transform: translate(0px, -8px) rotate(-45deg)
  }
}

.xg-menu-close .bar-1 {
  width: 3px;
  animation: bar-1-close .85s ease-out forwards
}

.xg-menu-close .bar-2 {
  animation: bar-2-close .85s ease-out forwards;
  margin-left: 0
}

.xg-menu-close .bar-3 {
  animation: bar-3-close .85s ease-out forwards
}

@-webkit-keyframes bar-1-close {
  0%,
  70% {
    width: 0;
    transform: translate(0, 0)
  }
  100% {
    width: 29px;
    transform: translate(0, 0)
  }
}

@keyframes bar-1-close {
  0%,
  70% {
    width: 0;
    transform: translate(0, 0)
  }
  100% {
    width: 29px;
    transform: translate(0, 0)
  }
}

@-webkit-keyframes bar-2-close {
  0% {
    width: 29px;
    transform: translate(0px, 0px) rotate(45deg)
  }
  20% {
    width: 3px;
    transform: translate(0, 0px) rotate(45deg)
  }
  40% {
    width: 0
  }
  65% {
    transform: translate(0, -26px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1)
  }
  80% {
    width: 0
  }
  100% {
    width: 29px;
    transform: translate(0, 0px)
  }
}

@keyframes bar-2-close {
  0% {
    width: 29px;
    transform: translate(0px, 0px) rotate(45deg)
  }
  20% {
    width: 3px;
    transform: translate(0, 0px) rotate(45deg)
  }
  40% {
    width: 0
  }
  65% {
    transform: translate(0, -26px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1)
  }
  80% {
    width: 0
  }
  100% {
    width: 29px;
    transform: translate(0, 0px)
  }
}

@-webkit-keyframes bar-3-close {
  0% {
    width: 29px;
    transform: translate(0px, -8px) rotate(-45deg)
  }
  20% {
    width: 3px;
    transform: translate(0, -8px) rotate(-45deg)
  }
  40% {}
  65% {
    transform: translate(0, -35px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1)
  }
  90% {
    width: 3px
  }
  100% {
    width: 29px;
    transform: translate(0, 0px)
  }
}

@keyframes bar-3-close {
  0% {
    width: 29px;
    transform: translate(0px, -8px) rotate(-45deg)
  }
  20% {
    width: 3px;
    transform: translate(0, -8px) rotate(-45deg)
  }
  40% {}
  65% {
    transform: translate(0, -35px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1)
  }
  90% {
    width: 3px
  }
  100% {
    width: 29px;
    transform: translate(0, 0px)
  }
}