$p_color : #FF324D;
$s_color : #1F5152;
$t_color : #042825;
$light_t_color: #687188;
$bg_color : #f8f8f8;
$dark_bg_color : #2A2A2A;

$font : 'Barlow', sans-serif;

$min992: "only screen and (min-width: 992px)";
$min576: "only screen and (min-width: 576px)";

$max1650: "only screen and (max-width: 1650px)";
$max1200: "only screen and (max-width: 1280px)";
$max1199: "only screen and (max-width: 1199.98px)";
$max991: "only screen and (max-width: 991.98px)";
$max767: "only screen and (max-width: 767.98px)";
$max640: "only screen and (max-width: 640px)";
$max575: "only screen and (max-width: 575.98px)";
$max480: "only screen and (max-width: 480px)";
$max375: "only screen and (max-width: 375px)";
$max320: "only screen and (max-width: 320px)";