/* ------------------------
# Banner
------------------------*/
.xg-banner-section{
  height: 100vh;

  .xg-banner-inner{
    background-image: url("../images/banner/banner-1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @include flexbox();
    @include align-items(center);
    height: 100%;
    position: relative;
    z-index: 1;

    &::after{
      content:"";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0,0,0,.4);
      z-index: -1;
    }
  }

  @media #{$max575} {
    .xg-ml-180{
      margin-left: 0;
    }
  }

  .xg-banner-content{
    color:#fff;
    z-index: 1;

    .xg-banner-meta{
      font-size: 24px;

      @media #{$max575} {
        font-size: 18px;
      }
      @media #{$max320} {
        font-size: 16px;
      }
    }

    h1{
      span.xg-person-name{
        color:$p_color;
      }
      
      @media #{$max991} {
        font-size: 52px;
        line-height: 52px;
        margin-bottom: 15px;
      }

      @media #{$max575} {
        font-size: 48px;
        line-height: 46px;
        margin-bottom: 10px;
      }

      @media #{$max375} {
        font-size: 36px;
        line-height: 38px;
        margin-bottom: 5px;
      }
    }

    .xg-designation{
      margin-bottom: 30px;

      @media #{$max575} {
        font-size: 18px;
      }
      @media #{$max320} {
        font-size: 16px;
      }
    }
  }
}